<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начальная Страница</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать на мою страницу!</h1>
    </header>
    <nav>
        <!-- Навигационное меню -->
    </nav>
    <section>
        <article>
            <h2>Заголовок статьи</h2>
            <p>Приложение {{ app_name }}.</p>
        </article>
    </section>
    <aside>
        <!-- Боковая панель или виджеты -->
    </aside>
    <footer>
        <p>© 2024 Ваше Имя</p>
    </footer>
</body>
</html>